/*
* SPDX-FileCopyrightText: Copyright 2020 - 2021 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
.moti-testata {
    background-color: white !important;
    padding: 15px;
}

.moti-input-bold {
    font-weight: bold;
    font-size: 17px;
}

