/*
* SPDX-FileCopyrightText: Copyright 2020 - 2021 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
.moti-header-pagination {    
    height: 50px;
    vertical-align: middle;
}

.moti-pagination-nav {
    background-color: white !important;
    padding-top: 30px;
    padding-right: 0px;
    margin-right: 0px;
}
