<!--
SPDX-FileCopyrightText: Copyright 2020 - 2021 | CSI Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<footer role="contentinfo">

  <div class="pre-footer">
    <div class="container-fluid my-3">

      <div class="row page-body">
        <div class="col">
          <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-1">
              &nbsp;
            </div>

            <div class="col-sm-12 col-md-12 col-lg-10">
              <div class="container-fluid">
                <a href="https://www.regione.piemonte.it/web/">
                  <img alt="Regione Piemonte" src="assets/img/Regione.png">
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="footer">
    <div class="container-fluid">

      <div class="row cont-footer">

        <div class="col-sm-12 col-md-12 col-lg-1">
          &nbsp;
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3">
          <div class="container-fluid mt-3">
            <h5>{{ 'FOOTER.CALL_CENTER' | translate }}</h5>
            <p class="mt-1">Contattare il numero xxx xxxx xxx</p>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3 mt-3">
          <h5 class="sm-t">{{ 'FOOTER.SUPPORT' | translate }}</h5>
          <p class="mt-1">Contattare il numero xxx xxxx xxx</p>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 logo-csi">
          <a href="http://www.csipiemonte.it">
            <img alt="csi piemonte" src="assets/img/Logo_CSI.png">
          </a>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-1">
          &nbsp;
        </div>

        <div class="col-sm-12 col-md-4 col-lg-10">
          <p class="border-w"></p>
        </div>
      </div>

      <div class="row mt-4 mb-3">
        <div class="col-sm-12 col-md-12 col-lg-1">
          &nbsp;
        </div>

        <div class="col-sm-12 col-md-2 col-lg-10">
          <div class="container-fluid">
            <a href="/cms/privati/accessibilita"
              [title]="'FOOTER.ACCESSIBILITY' | translate">{{ 'FOOTER.ACCESSIBILITY' | translate }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/cms/privati/privacy" [title]="'FOOTER.PRIVACY' | translate">{{ 'FOOTER.PRIVACY' | translate }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/cms/privati/cookies-policy"
              [title]="'FOOTER.COOKIE_POLICY' | translate">{{ 'FOOTER.COOKIE_POLICY' | translate }}</a>
          </div>
        </div>

      </div>

      <!--p class="pull-right">
        <a href="#topLink" id="back-top" (click)="goToTop($event)" [title]="'FOOTER.GO_UP' | translate">{{ 'FOOTER.GO_UP' | translate }} <i class="icon-chevron-up"></i></a>
      </p-->

    </div>
  </div>
</footer>