/*
* SPDX-FileCopyrightText: Copyright 2020 - 2021 | CSI Piemonte
* SPDX-License-Identifier: EUPL-1.2
*/
.moti-testata-lista {
    background-color: white !important;
    padding: 15px;
    margin-bottom: 20px;
}

.moti-table {
    thead {
        background-color: rgb(240, 240, 240) !important;
    }
    font-size: 13px;
}

.moti-select-page {
    width: 60px;
}

.moti-pagination-footer {
    margin-top: 30px;
    font-size: 13px;
}